<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleWord.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B971E19A2E931D1900F9FFA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B971E1AE2E931D1C00F9FFA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B971E1B82E931D1C00F9FFA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
